# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/
.env
env/
.venv/

# VS Code
.vscode/

# Data files and exports
latest_report.json
data/
exports/

# OS files
.DS_Store
Thumbs.db
